<div class="container-fluid">
    <header class="d-flex justify-content-between align">

        <nav aria-label="breadcrumb mb-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>

        <div class="form-group mb-0">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Search...">
        </div>
    </header>

    <div class="row">
        <div class="col-md-2 bg-light p-2">
            <form class="form" [formGroup]="productListForm" *ngIf="productListForm">
                <label>Rating Filter</label>
                <div class="form-check" *ngFor="let ratingObj of ratingFilter;">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="" id="" value="ratingObj" checked>
                        {{ratingObj}}
                    </label>
                </div>

                <label>Stock Filter</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="" id="" value="checkedValue" checked>
                        In stock
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="" id="" value="checkedValue" checked>
                        Out of stock
                    </label>
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4 p-2" *ngFor="let p of products">
                    <app-product [product]=p></app-product>
                </div>
            </div>
        </div>
    </div>
</div>
